<div ng-controller="ProfileEditController" id="profile-edit-page">
    <div class="header">
        <h3 class="header-title">Edit {{edit_title}}</h3>
    </div>
    <form novalidate name="bioForm" ng-show="isBioFormShow">
        <div class="sign-input-div">
            <input name="first_name" ng-model="first_name" class="sign-input"
                   placeholder="first name" required/>
            <span class="sign-span" ng-show="submittedFirstName">A first name is required.</span>
        </div>
        <div class="sign-input-div">
            <input name="last_name" ng-model="last_name" class="sign-input"
                   placeholder="last name" required/>
            <span class="sign-span" ng-show="submittedLastName">A last name is required.</span>
        </div>
        <div class="sign-input-div">
            <input name="username" ng-model="username" class="sign-input"
                   placeholder="username" required/>
            <span class="sign-span" ng-show="submittedUsername">A username is required.</span>
        </div>
    </form>
    <form novalidate name="emailForm" ng-show="isEmailFormShow">
        <div class="sign-input-div">
            <input class="sign-input" type="email" name="email" ng-model="email"
                   placeholder="john@example.com" required/>
            <span class="sign-span" ng-show="submittedEmail">A valid email address is required.</span>
        </div>
    </form>
    <form novalidate name="passwordForm" ng-show="isPasswordFormShow">
        <div class="input-with-title">
            <h6>Enter new password:</h6>
            <input class="sign-input" type="password" name="password" ng-model="password"
                   placeholder="********" required/>
        </div>
        <span class="input-with-title-span" ng-show="submittedNewPassword">This field is required.</span>

        <div class="input-with-title">
            <h6>Reconfirm password:</h6>
            <input class="sign-input" type="password" name="reconfirm_password"
                   ng-model="reconfirm_password"
                   placeholder="********" required/>
        </div>
        <span class="input-with-title-span" ng-show="submittedConfirmedPassword">This field is required.</span>
    </form>
    <div class="dispatch-btn-group">
        <span class="input-with-title-span" ng-show="matchedPasswords">Passwords don't match</span>
        <button ng-click="save()" class="btn btn-primary dispatch-btn">Save</button>
        <button ng-click="cancel()" class="btn btn-primary dispatch-btn">Cancel</button>
    </div>
</div>