#body{
    background-color: #F6F6F6;
}

#main-div{
    background-color: #F6F6F6;
}

.header {
    background-color: #5893CC;
    height: 80px;
}

.header-title{
    margin-left: 20px;
    display: inline-block;
    color: white;
    margin-top: auto;
    margin-bottom: auto;
    line-height: 80px;
    float: left;
    cursor: default;
}

.sign-content {
    text-align: center;
    margin-top: 150px;
}

.sign-input {
    display: block;
    margin-top: 10px;
    width: 200px;
    height: 25px;
    padding-left: 5px;
    border: 2px solid  #DCDCDC;
}

.sign-input-div {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}

span{
    color: #b94a48;
    display: block;
    font-size: 12px;
    height: 25px;
    line-height: 25px;
    vertical-align: middle;
    cursor: default;
}

.sign-span {
    float: left;
    margin-left: 2px;
}

.submitted-btn {
    color:#5893CC;
    cursor: default;
    margin-top: 25px;
    height: 25px;
}

.submitted-btn:hover{
    opacity: 0.9;
}

.submitted-btn:active{
    opacity: 0.6;
}

p{
    cursor: default;
}

h6{
    width: 150px;
    display: inline-block;
    text-align: right;
}
.input-with-title{
    width:400px;
    margin-left: auto;
    margin-right: auto;
}
.input-with-title input{
    display: inline-block;
    margin-left: 20px;
}
.input-with-title-span{
    text-align: center;
    margin-left: 5px;
    /* margin-right: auto; */
    float: left;
    /* width: 100%; */
}

.warning-client-span{
    margin-top: 35px;
}

#profile-edit-page form{
    margin-top: 50px;
}

.new-dispatch-list{
    overflow: inherit !important;
}