.header {
    background-color: #5893CC;
    height: 80px;
}

.header-title{
    margin-left: 20px;
    display: inline-block;
    color: white;
    margin-top: auto;
    margin-bottom: auto;
    line-height: 80px;
    float: left;
    cursor: default;
}


.sign-content {
    text-align: center;
    margin-top: 150px;
}

.sign-input {
    display: block;
    margin-top: 10px;
    width: 200px;
    height: 25px;
    padding-left: 5px;
    border: 2px solid  #DCDCDC;
}

.sign-input-div {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}

span{
    color: #b94a48;
    display: block;
    font-size: 12px;
    height: 25px;
    line-height: 25px;
    vertical-align: middle;
    cursor: default;
}

.login-span{
    float: left;
    margin-left: 2px;
}

.submitted-btn {
    color:#5893CC;
    cursor: default;
    margin-top: 25px;
    height: 25px;
}

p{
    cursor: default;
}