
#register-btn {
    height: 26px;
    top: 27px;
    right: 20px;
    position: absolute;
    border-radius: 6px;
    padding-left: 15px;
    padding-right: 15px;
    color:#F2F8F7;
    background-color: #A1C0E1;
    font-weight: bold;
    border: none;
}

a {
    display: block;
    color: #318CE8;
    text-decoration: none;
    font-size: 12px;
    cursor: pointer;
}

a:hover {
    color: #1259A1;
    text-decoration : underline;
}
