.menu-div {
    float: right;
    margin-top: 5px;
    margin-right: 5px;
}

.menu-title{
    color: white;
}

#menu-list{
    margin-left: -90px
}

#menu-list ul {
    list-style-type: disc;
}
#menu-list ul > li{
    color: black;
}

#main-tabset{
   margin-top: -39px;
}

.tabs{
    width: 125px;
    height: 40px;
    margin-right: 10px;
    margin-left: 10px;
    background: url("../images/tab.jpg") no-repeat;
    text-align: center;
    border-radius: 6px 6px 0px 0px;
}

.tab-header{
    font-size: 16px;
}

.dispatch-btn{
    color: white;
    background-color: #5893CC;
    cursor: default;
}

#new-btn{
    float: right;
    margin-right: 20px;
    margin-top: 20px;
    width: 90px;
}

.list-item{
    margin-right: 20px;
    margin-left: 20px;
    border: 1px solid #E9E9E9;
    display: block;
}

.top-div{
    height: 60px;
}

.bottom-div{
    height: 40px;
}

.p-title,.p-info{
    height: 14px;
    line-height: 14px;
    margin-left: 3px;
    margin-bottom: -3px;
    margin-top: 5px;
    font-size: 12px;
    color:#A0A0A0;
}

.p-title{
    font-weight: bold;
}

.p-info{
}

.list-item-div-a,.list-item-div-b,.list-item-div-c{
    height: 100px;
    display: inline-block;
}

.list-item-div-a{
    width: 15%;
}

.list-item-div-b{
    width: 40%;
}
.list-item-div-c{
    width: 15%;
}
.div-shipment-info{
    position: absolute;
    height: 100px;
}

.new-btn-div{
    height: 80px;
    position: relative;
}

.box-title{
    left: 30px;
    bottom: 0;
    color: #5893CC;
    font-size: 16px;
    position: absolute;
}

.edit-save-btns-div{
    width:230px;
    height: 30px;
    display: block;
    position: absolute;
    top:65px;
}
.edit-save-btns-div div{
    display: inline-block;
    margin-right: 2px;
    width: 70px;
    float: right;
}

.driver-div{
    width: 230px;
    height: 100px;
    position: relative;
    float: right;
    margin-right: 20px;
}

.dropdown-select,#trip-dropdown-btn{
    border: 2px solid #5893CC;
    overflow: hidden;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 12px;
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
    background: url("../images/arrow.jpg") no-repeat right;
    text-align: left;
}

.dropdown-select{
    height: 25px;
    width: 130px;
}

#trip-dropdown-btn{
    height: 40px;
    width: 400px;
}


.select-driver-div{
    width: 100px;
    height: 70px;
    margin-left: 80px;
}

.view-btn{
    float: right;
}

.dispatch-btn-group {
    text-align: center;
    margin: 20px auto 30px;
}

.btn-group {
    display: inline-block;
    margin-right: 20px;
}

.dispatch-btn-group button {
    display: inline-block;
    background-color: #5893CC;
}

.white-caret {
    border-top-color: white !important;
    border-bottom-color: white !important;
}

.divider-line {
    height: 1px;
    line-height: 1px;
    background-color: gray;
    width: 100%;
}

#trip-dropdown {
    width: 100%;
}

#trip-dropdown li:hover{
    background-color: #F2F2F2;
}

#trip-dropdown a:hover {
    background-color: transparent;
}

#client-buttons h4 {
    display: inline-block;
}

#cancel-create-cancel-btn {
    margin-left: 40px;
}

#map{
    margin-top: 50px;
    width:700px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    -webkit-transform: translateZ(0px);
    background-color: rgb(229, 227, 223);
}

.dropdown-div{
    margin-top: 10px;
    height: 25px
}

#trip-dropdown-div{
    margin-top: 10px;
    height: 40px
}

#p-end-route{
    margin-top: -10px;
}