.menu-div {
    float: right;
    margin-top: 5px;
    margin-right: 5px;
}

.menu-title{
    color: white;
}

#menu-list{
    margin-left: -90px
}

#menu-list ul {
    list-style-type: disc;
}
#menu-list ul > li{
    color: black;
}

#main-tabset{
   margin-top: -39px;
}

.navbar{
    margin-top: -45px;
}

.nav-tabs>li>a {
    background-color: #0E325F;
    border-color: #777777;
    color:#fff;
    width: 125px;
    text-align: center;
    font-size: 16px;
}

/* active tab color */
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
    background-color: #f6f6f6 !important;
    border: 1px solid #888888;
}

.nav-tabs>li>a:hover{
    color: #787878;
    border-color: #777777;
}
.nav-tabs>li>a:focus{
    color: #787878;
    border-color: #EAEAEA !important;
}
.nav-tabs>li>a:active{
    border-color: #777777;
}

.dispatch-btn{
    color: white;
    background-color: #5893CC;
    cursor: default;
}

.dropdown:active{
    border-color: #777777;
}

.new-btn{
    float: right;
    margin-right: 20px;
    margin-top: 20px;
    width: 90px;
}

.list-item{
    margin-right: 20px;
    margin-left: 20px;
    border: 1px solid #E9E9E9;
    display: block;
}

.top-div{
    height: 60px;
}

.top-div-shipment-info{
    height: 40px;
    margin-bottom: 10px;
}
.bottom-div-shipment-info{
    height: 50px;
}

.bottom-div{
    height: 40px;
}

.p-title,.p-info{
    height: 14px;
    line-height: 14px;
    margin-left: 3px;
    margin-bottom: -3px;
    margin-top: 5px;
    font-size: 12px;
    color:#A0A0A0;
}

.p-title{
    font-weight: bold;
}

.list-item-div-a,.list-item-div-b,.list-item-div-c{
    height: 100px;
    display: inline-block;
}

.list-item-div-a{
    width: 15%;
}

.list-item-div-b{
    width: 40%;
}
.list-item-div-c{
    width: 15%;
}
.div-shipment-info{
    position: absolute;
    height: 100px;
}

.route-address-a:hover{
    background-color: transparent !important;
}

.route-li:hover{
   background-color:  #F5F5F5;
}

.new-btn-div{
    height: 80px;
    position: relative;
    margin-top: -20px;
}

.box-title{
    left: 30px;
    bottom: 0;
    color: #5893CC;
    font-size: 16px;
    position: absolute;
}

.edit-save-btns-div{
    width:230px;
    height: 30px;
    display: block;
    position: absolute;
    top:65px;
}
.edit-save-btns-div div{
    display: inline-block;
    margin-right: 2px;
    width: 70px;
    float: right;
}

.driver-div{
    width: 230px;
    height: 100px;
    position: relative;
    float: right;
    margin-right: 20px;
}

.dropdown-select,#trip-dropdown-btn{
    border: 2px solid #5893CC;
    overflow: hidden;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 12px;
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
    background: url("../images/arrow.png") no-repeat right;
    text-align: left;
    background-size: 12px 10px;
}

.dropdown-select{
    height: 25px;
    width: 130px;
}

#trip-dropdown-btn{
    height: 40px;
    width: 400px;
}

#trip-dropdown-btn:disabled{
    background-color: #F2F2F2;
}

.select-driver-div{
    width: 100px;
    height: 70px;
    margin-left: 80px;
}

.view-btn{
    float: right;
}

.dispatch-btn-group {
    text-align: center;
    margin: 20px auto 30px;
}

.btn-group {
    display: inline-block;
    margin-right: 20px;
}

.dispatch-btn-group button {
    display: inline-block;
    background-color: #5893CC;
}

.white-caret {
    border-top-color: white !important;
    border-bottom-color: white !important;
}

.divider-line {
    height: 1px;
    line-height: 1px;
    background-color: gray;
    width: 100%;
}

#trip-dropdown {
    width: 100%;
}

#trip-dropdown li:hover{
    background-color: #F1F1F1;
}

#trip-dropdown a:hover {
    background-color: transparent;
}

.trip-disabled{
    background-color: grey;
}

#client-buttons h4 {
    display: inline-block;
}

#cancel-create-cancel-btn {
    margin-left: 40px;
}

.map{
    margin-top: 50px;
    width:700px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    -webkit-transform: translateZ(0px);
    background-color: rgb(229, 227, 223);
}

.dropdown-div,#dropdown-driver-div{
    margin-top: 10px;
    height: 25px
}

#dropdown-driver-div{
    margin-top: 4px;
}

#trip-dropdown-div{
    margin-top: 10px;
    height: 40px
}

#p-end-route{
    margin-top: -10px;
}

#shipment-table{
    border-top:1px solid black ;
}

.shipment-tr{
    height: 60px;
}

.shipment-tr:nth-child(odd){
    background-color: #C4C4C4;
}

.shipment-tr:nth-child(even){
    background-color: #F6F6F6;
}

#shipment-table td,th{
    border-right: 1px solid #E6E6E6;
    cursor: default;
}

#checkins_list{
    margin-top: 20px;
}

#dispatch-tab{
    margin-left: 10px
}

#logistics-tab{
    margin-left: 10px;
    margin-right: 10px
}

.dropdown-menu a{
    font-size:14px;
}

.trips-div-a,.trips-div-b,.trips-div-c{
    height: 100px;
    display: inline-block;
}

.trips-div-a{
    width: 25%;
}
.trips-div-b{
    width: 45%;
}
.trips-div-c{
    width: 28%;
}

.trips-inner-div{
    position: absolute;
    margin-top:0
}

#select-trip-btn{
    margin-top: 10px;
}

.trip-edit-btn-div,.client-edit-btn-div{
    height: 30px;
    display: block;
    float: right;
}

.trip-edit-btn-div{
    width:320px;
    margin-top:57px;
}

.client-edit-btn-div{
    width:230px;
    margin-top: 30px;
}

.trip-edit-btn-div div{
    display: inline-block;
    margin-right: 2px;
    width: 70px;
    float: right;
}

.client-edit-btn-div div{
    display: inline-block;
    margin-right: 2px;
    width: 70px;
    float: right;
}

.start-finish-container{
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.address-input{
    width: 300px;
}
.address-input-with-title{
    width: 500px;
}

.clients-div-a,.clients-div-b,.clients-div-c{
    height: 70px;
    display: inline-block;
}

.shipments-div-a,.shipments-div-b,.shipments-div-c{
    height: 90px;
    display: inline-block;
}

.clients-div-a,.shipments-div-a{
    width: 35%;
}
.clients-div-b,.shipments-div-b{
    width: 35%;
}
.clients-div-c,.shipments-div-c{
    width: 28%;
}

.client-input{
    margin-left: 3px;
}

#duplicate-btn{
    width: 90px
}

.restore-btn{
    width: 80px !important;
}

#archive-div{
    margin-top: 60px;
}

#shipment-name-span{
    margin-top: 20px;
}

.p-shipment-details,.p-shipment-details-manage{
    overflow: hidden;
    height: 50px !important;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 16px;     /* fallback */
    -webkit-box-orient: vertical;
}

.p-shipment-details{
    max-height: 32px;      /* fallback */
    -webkit-line-clamp: 2; /* number of lines to show */
    width: 400px;
}

.p-shipment-details-manage{
    max-height: 50px;      /* fallback */
    -webkit-line-clamp: 3; /* number of lines to show */
    width: 700px;
}

#shipment-details-manage{
    height: 50px;
    width: 500px;
}

#add-shipment-btn{
    width: 130px
}