.splash {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    height:100%;
    width:100%;
    opacity: 0.6;
    background: #5893CC;
}

[ng-cloak].splash {
    display: block !important;
}

#splash-content{
    width: 100%;
    height: 300px;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.splash h2 {
    margin:0px auto;
    font-size: 4em;
    color:white;
}
.spinner {
    height:60px;
    width:60px;
    margin:0px auto;
    position:relative;
    -webkit-animation: rotation .6s infinite linear;
    -moz-animation: rotation .6s infinite linear;
    -o-animation: rotation .6s infinite linear;
    animation: rotation .6s infinite linear;
    border: 6px solid rgba(255, 255, 255, .15);
    border-top-color: rgba(255, 255, 255, .8);
    border-radius:100%;
}

@-webkit-keyframes rotation {
    from {-webkit-transform: rotate(0deg);}
    to {-webkit-transform: rotate(359deg);}
}

@-moz-keyframes rotation {
    from {-moz-transform: rotate(0deg);}
    to {-moz-transform: rotate(359deg);}
}

@-o-keyframes rotation {
    from {-o-transform: rotate(0deg);}
    to {-o-transform: rotate(359deg);}
}

@keyframes rotation {
    from {transform: rotate(0deg);}
    to {transform: rotate(359deg);}
}